<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>Developer Student Club NSUT</title>
  <link rel="stylesheet" href="../Styles/style.css" />
  <link rel="stylesheet" href="../Styles/media-queries.css" />
</head>

<body>
  <!-- Navbar -->
  <header class="">
    <div class="logo-container">
      <a href="./index.html"><img src="../Images/dsc_logo.png" alt="Logo" /></a>
    </div>
    <nav class="default-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="mobile-nav-btn">
      <div class="symbol-container"><span></span></div>
    </div>
    <div class="side-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </header>

  <!-- Sections -->
  <section class="first"></section>
  <section></section>
  <section></section>

  <!-- Footer -->
  <footer>
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="social-links mt-4">
            <a href="#" class="github">
              <i class="bx bxl-github">
              </i>
            </a>
            <a href="#" class="twitter">
              <i class="bx bxl-twitter">
              </i>
            </a>
            <a href="#" class="instagram">
              <i class="bx bxl-instagram">
              </i>
            </a>
            <a href="#" class="facebook">
              <i class="bx bxl-facebook">
              </i>
            </a>
            <a href="#" class="linkedin">
              <i class="bx bxl-linkedin">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="copyright">
            <img src="../Images/dsc_logo.png" id="img-copyright" alt="Logo" /> Copyright <i class='bx bx-copyright'></i>
            2021.
            All rights reserved!
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../Scripts/animation-script.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
</html>