<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <title>Developer Student Club NSUT</title>
    <link rel="stylesheet" href="../Styles/style.css" />
    <link rel="stylesheet" href="../Styles/media-queries.css" />
  </head>
  <body>
    <header class="">
      <div class="logo-container">
        <a href="./index.html"
          ><img src="../Images/dsc_logo.png" alt="Logo"
        /></a>
      </div>
      <nav class="default-nav">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Feed</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="mobile-nav-btn">
        <div class="symbol-container"><span></span></div>
      </div>
      <div class="side-nav">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Feed</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </header>
    <section class="first"></section>
    <section></section>
    <section></section>
  </body>
  <script src="../Scripts/animation-script.js"></script>
</html>
