<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/TeamPage.css">
    <title>Team Page</title>
</head>
<body>

<section class="Page-head">
  <div class="Page-heading">
    <h1>The Team</h1>
    <p>Presenting team of 2020-2021<p>
    
  </div>
  <div class="logo-img">
    <img src="../Images/logo.jpg">
  </div>
  
</section>
<hr>
   <div class="teams">

                                    <!-- core team  -->
       <section class="team-container">
            <h1>Core Team</h1>
           <div class="team-member-container" id="core-team">
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ashutosh K Singh</p>
                       <p class="member-desig">DSC Lead</p>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Gaurav Madan</p>
                       <p class="member-desig">ML Lead</p>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Yajas Sardana</p>
                       <p class="member-desig">Core Member</p>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Saumya Singh</p>
                       <p class="member-desig">Web Dev Lead</p>
                   </div>
               </div>
               
               
               
           </div>
           <button class="hide-btn" id="core-btn" onclick='teamName("core-team",id)'>Show All</button>
       </section>

                                    <!-- Web Team -->
       <section class="team-container">
           <h1>Web Team</h1>
           <div class="team-member-container" id="web-team">
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Vanshika Jha</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
               
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Aditya Anand</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Paras Sethi</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ravi</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Vedansh Arun</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Adnan Hashmi</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Chirag Jindal</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Shubham Rana</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Naman Aggarwal</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Aaryak Garg</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ishika Jain</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Arpit Verma</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Kartik Bagri</p>
                       <p class="member-desig">Web Mentee</p>
                   </div>
               </div>
           </div>
           <button class="hide-btn" id="web-btn" onclick='teamName("web-team",id)'>Show All</button>
       </section>

   

                                    <!-- Android Team -->


    <section class="team-container">
        <h1>Android Team</h1>
        <div class="team-member-container" id="android-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Pranav Sharma</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Dhruv Rai</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Harshita Varshney</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akshit Lalit</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Gaurav Puniya</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Push Jain</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Stubh Lal</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vishad Tyagi</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vishesh Naithani</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Swasti Gautam</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
        </div>
        <button class="hide-btn" id="android-btn" onclick='teamName("android-team",id)'>Show All</button>
    </section>

                                    <!-- ML Team -->
    <section class="team-container">
        <h1>ML Team</h1>
        <div class="team-member-container" id="ML-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Rohit Malik</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Atharva Rustagi</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akash Yadav</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Jitesh Jain</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Ayushi Mehta</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Krish Chopra</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Rohan Deswal</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mudit Aggarwak</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vaibhav Paliwal</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Gourav Singhal</p>
                   <p class="member-desig">ML Mentee</p>
               </div>
           </div>
        </div>
        <button class="hide-btn" id="ML-btn" onclick='teamName("ML-team",id)'>Show All</button>
    </section>

                                    <!-- Competitive Programming Team -->
    <section class="team-container">
        <h1>Competitive Programming Team</h1>
        <div class="team-member-container" id="cp-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akshit Dhoundiyal</p>
                   <p class="member-desig">CP Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Chirag Jindal</p>
                   <p class="member-desig">CP Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Shruti</p>
                   <p class="member-desig">CP Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Naman Dhingra</p>
                   <p class="member-desig">CP Mentee</p>
               </div>
           </div>
        </div>
        <button class="hide-btn" id="cp-btn" onclick='teamName("cp-team",id)'>Show All</button>
    </section>

                                    <!-- Graphics Team -->
    
    <section class="team-container">
        <h1>Graphics Team</h1>
        <div class="team-member-container" id="graphics-team">

            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Sambhav Chandra</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Bipasha Kumar</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Abhishek Rao</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>

        </div>
        <button class="hide-btn" id="graphics-btn" onclick='teamName("graphics-team",id)'>Show All</button>
    </section>
                                    <!-- content team -->
    <section class="team-container">
        <h1>Content Team</h1>
        <div class="team-member-container" id="content-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Content </p>
               </div>
           </div>
        </div>
        <button class="hide-btn" id="content-btn" onclick='teamName("content-team",id)'>Show All</button>
    </section>
</div>

<script src="../Scripts/TeamPage.js" ></script>
</body>
</html>