<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/TeamPage.css">
    <link rel="stylesheet" href="../Styles/media-queries.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="../Images/faviconDSC.png">
    <title>Team Page</title>
</head>


<body>
  <header class="">
    <div class="logo-container">
      <a class="logo-holder" href="./index.html"
        ><img src="../Images/dsc_logo.png" alt="Logo"
      /></a>
      <div class="logo-text">
        <p>Developer Student Clubs</p>
        <p>Netaji Subhas University Of Technology</p>
      </div>
    </div>
    <nav class="default-nav">
      <ul>
        <li ><a href="../index.html">Home</a></li>
        <li><a href="#">Events</a></li>
        <li class="active"><a  href="TeamPage.html">Our Team</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="mobile-nav-btn">
      <div class="symbol-container"><span></span></div>
    </div>
    <div class="side-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </header>
 



<section class="Page-head">
  
      <h2>MEET THE SQUAD</h2>
  

  <div class="squad-description">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veritatis ut minus impedit ipsa fugiat ducimus magnam repudiandae. Perspiciatis, ipsa.
      </p>
  </div>
</section>

   <div class="teams">

                                    <!-- core team  -->
       <section class="team-container">
            <h1>Core Team</h1>
           <div class="team-member-container" id="core-team">
               <div class="member-box">
                    <img src="../Images/team-images/Ashutosh-k-singh.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Ashutosh K Singh</p>
                       <p class="member-desig">DSC Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Gaurav-madan.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Gaurav Madan</p>
                       <p class="member-desig">ML Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Yajas-sardana.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Yajas Sardana</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Saumya-singh.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Saumya Singh</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Shashank-jha.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Shashank Jha</p>
                       <p class="member-desig">Core Member/ Operations head</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Mudit-mahajan.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Mudit Mahajan</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Rahjav-kaushal.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Raghav Kaushal</p>
                       <p class="member-desig">Android Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Ankur-shukla.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Ankur Shukla</p>
                       <p class="member-desig">Android Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Bhaskar-jha.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Bhaskar Jha</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="../Images/team-images/Saksham-kapoor.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Saksham Kumar</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               
               
               
           </div>
           <button class="hide-btn btn-primary" id="core-btn" onclick='teamName("core-team",id)'>Show All</button>
       </section>

                                    <!-- Web Team -->
       <section class="team-container">
           <h1>Web Team</h1>
           <div class="mentor-box">
                <div class="member-box">
                    <img src="../Images/team-images/Saumya-singh.PNG" >
                   <div class= "member-info">
                       <p class="member-name">Saumya Singh</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>

                <div class="member-box">
                   <img src="../Images/team-images/Saksham-kapoor.PNG" >
                  <div class= "member-info">
                      <p class="member-name">Saksham Kapoor</p>
                      <p class="member-desig">Web Dev Lead</p>
                      <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                  </div>
               </div>
           </div>
           <div class="team-member-container" id="web-team">
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Vanshika Jha.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Vanshika Jha</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
               
               
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Aditya Anand.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Aditya Anand</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Paras Seth.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Paras Sethi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Ravi.png" >
                   <div class= "member-info">
                       <p class="member-name">Ravi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Vedansh Arun.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Vedansh Arun</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Adnan Hashmi.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Adnan Hashmi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Chirag Jindal.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Chirag Jindal</p>
                       <p class="member-desig">Web Mentee</p>    
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Shubham Rana.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Shubham Rana</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Naman Aggarwal.jpg" >
                   <div class= "member-info">
                       <p class="member-name">Naman Aggarwal</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Aaryak Garg.jpeg" >
                   <div class= "member-info">
                       <p class="member-name">Aaryak Garg</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Ishika Jain.jpg" >
                   <div class= "member-info">
                       <p class="member-name">Ishika Jain</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Arpit Verma.png" >
                   <div class= "member-info">
                       <p class="member-name">Arpit Verma</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="../Images/team-images/web-team/Kartik Bagri.jpg" >
                   <div class= "member-info">
                       <p class="member-name">Kartik Bagri</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
           </div>
           <button class="hide-btn" id="web-btn" onclick='teamName("web-team",id)'>Show All</button>
       </section>

   

                                    <!-- Android Team -->


    <section class="team-container">
        <h1>Android Team</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="../Images/team-images/Rahjav-kaushal.PNG" >
               <div class= "member-info">
                   <p class="member-name">Raghav Kaushal</p>
                   <p class="member-desig">Android Lead</p>
                   <div class="member-socials">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-behance"></i>
                  </div>
               </div>
           </div>

            <div class="member-box">
               <img src="../Images/team-images/Ankur-shukla.PNG" >
              <div class= "member-info">
                  <p class="member-name">Ankur Shukla</p>
                  <p class="member-desig">Android Lead</p>
                  <div class="member-socials">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-behance"></i>
                  </div>
              </div>
           </div>
       </div>
        <div class="team-member-container" id="android-team">
            <div class="member-box">
                <img src="../Images/team-images/android-team/Pranav Sharma.jpg" >
               <div class= "member-info">
                   <p class="member-name">Pranav Sharma</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Dhruv Rai.jpg" >
               <div class= "member-info">
                   <p class="member-name">Dhruv Rai</p>
                   <p class="member-desig">Android Mentee</p>
                   
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Harshita Varshney.jpg" >
               <div class= "member-info">
                   <p class="member-name">Harshita Varshney</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images//team-images/android-team/Akshit Lalit.jpg" >
               <div class= "member-info">
                   <p class="member-name">Akshit Lalit</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Gaurav Puniya.jpg" >
               <div class= "member-info">
                   <p class="member-name">Gaurav Puniya</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Pushp Jain.jpg" >
               <div class= "member-info">
                   <p class="member-name">Push Jain</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Stubh Lal.jpg" >
               <div class= "member-info">
                   <p class="member-name">Stubh Lal</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Vishad Tyagi.jpg" >
               <div class= "member-info">
                   <p class="member-name">Vishad Tyagi</p>
                   <p class="member-desig">Android Mentee</p>
                 
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Vishesh Naithani.jpg" >
               <div class= "member-info">
                   <p class="member-name">Vishesh Naithani</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/android-team/Swasti Gautam.jpg" >
               <div class= "member-info">
                   <p class="member-name">Swasti Gautam</p>
                   <p class="member-desig">Android Mentee</p>
                 
               </div>
           </div>
        </div>
        <button class="hide-btn" id="android-btn" onclick='teamName("android-team",id)'>Show All</button>
    </section>

                                    <!-- ML Team -->
    <section class="team-container">
        <h1>ML Team</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="../Images/team-images/Gaurav-madan.PNG" >
               <div class= "member-info">
                   <p class="member-name">Gaurav Madan</p>
                   <p class="member-desig">ML Lead</p>
                   <div class="member-socials">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                  </div>
               </div>
           </div>

            
       </div>
        <div class="team-member-container" id="ML-team">
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Rohit Malik.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Rohit Malik</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Atharv Rustagi.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Atharva Rustagi</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Akash Yadav.PNG" >
               <div class= "member-info">
                   <p class="member-name">Akash Yadav</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Jitesh Jain.jpg" >
               <div class= "member-info">
                   <p class="member-name">Jitesh Jain</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Ayushi Mehta.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Ayushi Mehta</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Krish Chopra.jpg" >
               <div class= "member-info">
                   <p class="member-name">Krish Chopra</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Rohan Deswal.JPG" >
               <div class= "member-info">
                   <p class="member-name">Rohan Deswal</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Mudit Aggarwal.jpg" >
               <div class= "member-info">
                   <p class="member-name">Mudit Aggarwak</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Vaibhav Paliwal.jpg" >
               <div class= "member-info">
                   <p class="member-name">Vaibhav Paliwal</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/ML-team/Gourav Singal.jpg" >
               <div class= "member-info">
                   <p class="member-name">Gourav Singhal</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
        </div>
        <button class="hide-btn" id="ML-btn" onclick='teamName("ML-team",id)'>Show All</button>
    </section>

                                    <!-- Competitive Programming Team -->
    <section class="team-container">
        <h1>Competitive Programming Team</h1>
        <div class="team-member-container" id="cp-team">
            <div class="member-box">
                <img src="../Images/team-images/cp-team/Akshit Dhoundiyal.jpg" >
               <div class= "member-info">
                   <p class="member-name">Akshit Dhoundiyal</p>
                   <p class="member-desig">CP Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/cp-team/Chirag Jindal.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Chirag Jindal</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/cp-team/Shruti Jain.jpg" >
               <div class= "member-info">
                   <p class="member-name">Shruti</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/cp-team/Naman Dhingra.png" >
               <div class= "member-info">
                   <p class="member-name">Naman Dhingra</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
        </div>
        <button class="hide-btn" id="cp-btn" onclick='teamName("cp-team",id)'>Show All</button>
    </section>

                                    <!-- Graphics Team -->
    
    <section class="team-container">
        <h1>Graphics Team</h1>
        <div class="team-member-container" id="graphics-team">

            <div class="member-box">
                <img src="../Images/team-images/graphics-team/Mohit Chaurasiya.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/graphics-team/Sambhav Chandra.jpg" >
               <div class= "member-info">
                   <p class="member-name">Sambhav Chandra</p>
                   <p class="member-desig">Graphics Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/graphics-team/Bipasha Kumar.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Bipasha Kumar</p>
                   <p class="member-desig">Graphics Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/graphics-team/Abhishek Rao.png" >
               <div class= "member-info">
                   <p class="member-name">Abhishek Rao</p>
                   <p class="member-desig">Graphics Mentee</p>
                 
               </div>
           </div>

        </div>
        <button class="hide-btn" id="graphics-btn" onclick='teamName("graphics-team",id)'>Show All</button>
    </section>
                                    <!-- content team -->
    <section class="team-container">
        <h1>Content Team</h1>
        <div class="team-member-container" id="content-team">
            <div class="member-box">
                <img src="../Images/team-images/content-team/Jarul Jangid.PNG" >
               <div class= "member-info">
                   <p class="member-name">Jarul Jangid</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Shashank Mishra.jpg" >
               <div class= "member-info">
                   <p class="member-name">Sashank Mishra</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Kamakshi Verma.jpg" >
               <div class= "member-info">
                   <p class="member-name">Kamakshi Verma </p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Aman Raj.jpg" >
               <div class= "member-info">
                   <p class="member-name">Aman Raj</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Jayita Diwan.jpg" >
               <div class= "member-info">
                   <p class="member-name">Jayita Diwan</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Joy Mary.jpeg" >
               <div class= "member-info">
                   <p class="member-name">Joy Mary</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Vanshita Gupta.jpg" >
               <div class= "member-info">
                   <p class="member-name">Vanshita Gupta</p>
                   <p class="member-desig">Content </p>  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Eshaan Awasthi.jpg" >
               <div class= "member-info">
                   <p class="member-name">Eshwaan Awasthi</p>
                   <p class="member-desig">Content </p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Saumya Hirna.jpg" >
               <div class= "member-info">
                   <p class="member-name">Saumya Hirna</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Deep Pal.png" >
               <div class= "member-info">
                   <p class="member-name">Deep Pal</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Adwita Arora.jpg" >
               <div class= "member-info">
                   <p class="member-name">Adwita Arora</p>
                   <p class="member-desig">Content </p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="../Images/team-images/content-team/Suraj Jha.jpg" >
               <div class= "member-info">
                   <p class="member-name">Suraj Jha</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
        </div>
        <button class="hide-btn" id="content-btn" onclick='teamName("content-team",id)'>Show All</button>
    </section>
</div>

<footer>
  <h4>Follow Us</h4>
  <div class="socials">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-behance"></i></a>
  </div>
  <div class="copyright-text">
    &copy; 2021 DSC. All rights reserved.
  </div>
  <div class="img-container"><img loading="lazy" src="../Images/london.png" alt="delhi"></div>
  
  </footer>


<script src="../Scripts/animation-script.js"></script>
<script src="../Scripts/TeamPage.js" ></script>
</body>
</html>