<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/TeamPage.css">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/media-queries.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  
    <title>Team Page</title>
</head>


<body>
    <header class="">
        <div class="logo-container">
          <a href="./index.html"
            ><img src="../Images/dsc_logo.png" alt="Logo"
          /></a>
        </div>
        <nav class="default-nav">
          <ul>
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="TeamPage.html">Our Team</a></li>
            <li><a href="#">Feed</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
        <div class="mobile-nav-btn">
          <div class="symbol-container"><span></span></div>
        </div>
        <div class="side-nav">
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Feed</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </header>



<section class="Page-head">
  <div class="squad">
      <h1>MEET THE SQUAD</h1>
  </div>

  <div class="squad-description">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veritatis ut minus impedit ipsa fugiat ducimus magnam repudiandae. Perspiciatis, ipsa.
      </p>
  </div>
</section>

   <div class="teams">

                                    <!-- core team  -->
       <section class="team-container">
            <h1>Core Team</h1>
           <div class="team-member-container" id="core-team">
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ashutosh K Singh</p>
                       <p class="member-desig">DSC Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Gaurav Madan</p>
                       <p class="member-desig">ML Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Yajas Sardana</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Saumya Singh</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Shashank Jha</p>
                       <p class="member-desig">Core Member/ Operations head</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Mudit Mahajan</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Raghav Kaushal</p>
                       <p class="member-desig">Android Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ankur Shukla</p>
                       <p class="member-desig">Android Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Bhaskar Jha</p>
                       <p class="member-desig">Core Member</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Saksham Kumar</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>
               
               
               
           </div>
           <button class="hide-btn" id="core-btn" onclick='teamName("core-team",id)'>Show All</button>
       </section>

                                    <!-- Web Team -->
       <section class="team-container">
           <h1>Web Team</h1>
           <div class="mentor-box">
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Saumya Singh</p>
                       <p class="member-desig">Web Dev Lead</p>
                       <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                   </div>
               </div>

                <div class="member-box">
                   <img src="https://source.unsplash.com/random" >
                  <div class= "member-info">
                      <p class="member-name">Saksham Kapoor</p>
                      <p class="member-desig">Web Dev Lead</p>
                      <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                  </div>
               </div>
           </div>
           <div class="team-member-container" id="web-team">
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Vanshika Jha</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
               
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Aditya Anand</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Paras Sethi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ravi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Vedansh Arun</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Adnan Hashmi</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Chirag Jindal</p>
                       <p class="member-desig">Web Mentee</p>    
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Shubham Rana</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Naman Aggarwal</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Aaryak Garg</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Ishika Jain</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Arpit Verma</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
                <div class="member-box">
                    <img src="https://source.unsplash.com/random" >
                   <div class= "member-info">
                       <p class="member-name">Kartik Bagri</p>
                       <p class="member-desig">Web Mentee</p>
                       
                   </div>
               </div>
           </div>
           <button class="hide-btn" id="web-btn" onclick='teamName("web-team",id)'>Show All</button>
       </section>

   

                                    <!-- Android Team -->


    <section class="team-container">
        <h1>Android Team</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Raghav Kaushal</p>
                   <p class="member-desig">Android Lead</p>
                   <div class="member-socials">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-behance"></i>
                  </div>
               </div>
           </div>

            <div class="member-box">
               <img src="https://source.unsplash.com/random" >
              <div class= "member-info">
                  <p class="member-name">Ankur Kaushal</p>
                  <p class="member-desig">Android Lead</p>
                  <div class="member-socials">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-behance"></i>
                  </div>
              </div>
           </div>
       </div>
        <div class="team-member-container" id="android-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Pranav Sharma</p>
                   <p class="member-desig">Android Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Dhruv Rai</p>
                   <p class="member-desig">Android Mentee</p>
                   
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Harshita Varshney</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akshit Lalit</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Gaurav Puniya</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Push Jain</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Stubh Lal</p>
                   <p class="member-desig">Android Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vishad Tyagi</p>
                   <p class="member-desig">Android Mentee</p>
                 
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vishesh Naithani</p>
                   <p class="member-desig">Android Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Swasti Gautam</p>
                   <p class="member-desig">Android Mentee</p>
                 
               </div>
           </div>
        </div>
        <button class="hide-btn" id="android-btn" onclick='teamName("android-team",id)'>Show All</button>
    </section>

                                    <!-- ML Team -->
    <section class="team-container">
        <h1>ML Team</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Gaurav Madan</p>
                   <p class="member-desig">ML Lead</p>
                   <div class="member-socials">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                  </div>
               </div>
           </div>

            
       </div>
        <div class="team-member-container" id="ML-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Rohit Malik</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Atharva Rustagi</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akash Yadav</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Jitesh Jain</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Ayushi Mehta</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Krish Chopra</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Rohan Deswal</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mudit Aggarwak</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vaibhav Paliwal</p>
                   <p class="member-desig">ML Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Gourav Singhal</p>
                   <p class="member-desig">ML Mentee</p>
                   
               </div>
           </div>
        </div>
        <button class="hide-btn" id="ML-btn" onclick='teamName("ML-team",id)'>Show All</button>
    </section>

                                    <!-- Competitive Programming Team -->
    <section class="team-container">
        <h1>Competitive Programming Team</h1>
        <div class="team-member-container" id="cp-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Akshit Dhoundiyal</p>
                   <p class="member-desig">CP Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Chirag Jindal</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Shruti</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Naman Dhingra</p>
                   <p class="member-desig">CP Mentee</p>
                   
               </div>
           </div>
        </div>
        <button class="hide-btn" id="cp-btn" onclick='teamName("cp-team",id)'>Show All</button>
    </section>

                                    <!-- Graphics Team -->
    
    <section class="team-container">
        <h1>Graphics Team</h1>
        <div class="team-member-container" id="graphics-team">

            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Mohit Chaurasiya</p>
                   <p class="member-desig">Graphics Mentee</p>
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Sambhav Chandra</p>
                   <p class="member-desig">Graphics Mentee</p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Bipasha Kumar</p>
                   <p class="member-desig">Graphics Mentee</p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Abhishek Rao</p>
                   <p class="member-desig">Graphics Mentee</p>
                 
               </div>
           </div>

        </div>
        <button class="hide-btn" id="graphics-btn" onclick='teamName("graphics-team",id)'>Show All</button>
    </section>
                                    <!-- content team -->
    <section class="team-container">
        <h1>Content Team</h1>
        <div class="team-member-container" id="content-team">
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Vanshita Gupta</p>
                   <p class="member-desig">Content </p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Eshwaan Awasthi</p>
                   <p class="member-desig">Content </p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Saumya Hirna</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Deep Pal</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Adwita Arora</p>
                   <p class="member-desig">Content </p>
                   
               </div>
           </div>
            <div class="member-box">
                <img src="https://source.unsplash.com/random" >
               <div class= "member-info">
                   <p class="member-name">Suraj Jha</p>
                   <p class="member-desig">Content </p>
                  
               </div>
           </div>
        </div>
        <button class="hide-btn" id="content-btn" onclick='teamName("content-team",id)'>Show All</button>
    </section>
</div>

<footer>
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="social-links mt-4">
            <a href="#" class="github">
              <i class="bx bxl-github">
              </i>
            </a>
            <a href="#" class="twitter">
              <i class="bx bxl-twitter">
              </i>
            </a>
            <a href="#" class="instagram">
              <i class="bx bxl-instagram">
              </i>
            </a>
            <a href="#" class="facebook">
              <i class="bx bxl-facebook">
              </i>
            </a>
            <a href="#" class="linkedin">
              <i class="bx bxl-linkedin">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="copyright">
            <img src="/Images/dsc_logo.png" id="img-copyright" alt="Logo" /> Copyright <i class='bx bx-copyright'></i>
            2021.
            All rights reserved!
          </div>
        </div>
      </div>
    </div>
  </footer>


<script src="../Scripts/animation-script.js"></script>
<script src="../Scripts/TeamPage.js" ></script>
</body>
</html>